* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font: Roboto;
}

.header {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header > a {
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
}

.header > ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.content {
    flex: 1;
}

.footer {
    background-color: #1F2937;
}