* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 70%;
    padding: 24px 24px 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
    background-color: #1F2937;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
    padding: 0 0 16px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header > ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1;
}

.hero-main {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    color:#E5E7EB;
    font-size: 18px;
}

.hero-left button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;;
    border-width: 0;
    border-radius: 12px;
    font-size: 18px;
    margin-top: auto;
}

.hero-right {
    flex: 1;
}

.hero-right img {
    width: 100%;
    
}

.content {
    flex: 1;
}

.information {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.sign-up {

}

.footer {
    background-color: #1F2937;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}