* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 16px 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header > ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    padding: 8px 16rem 24px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1;
}

.hero-main {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    color:#E5E7EB;
    font-size: 18px;
}

.hero-left button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;;
    border-width: 0;
    border-radius: 12px;
    font-size: 18px;
    margin-top: auto;
}

.hero-right {
    flex: 1;
}

.hero-right img {
    width: 100%;
}

.content {
    flex: 1;
}

.information {
    background-color: white;
    padding: 32px 16rem 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 16px;
}

.info-card {
    padding: 24px;
    text-align: center;
    font-size: 18px;
}

.info-card img {
    width: 100%;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.quote {
    background-color: #E5E7EB;
    padding: 60px 16rem;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-giver {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 40px;
    margin-bottom: -16px;
}

.sign-up {
    padding: 8rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    padding: 40px 72px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    gap: 12rem;
}

.sign-up-header {
    margin-bottom: 4px;
    color: white;
    font-weight: bold;
}

.sign-up-sub {
    color:#E5E7EB;
}

.sign-up-button {
    padding: 8px 32px;
    border: 2px solid white;
    border-radius: 8px;
    background-color:#3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}